{% extends 'base-bulma.html' %}
{% load static %}

{% block corpo %}
<section class="main-content columns is-fullheight">
    <aside class="column is-2 is-narrow-mobile is-fullheight section has-background-info">
        <p class="menu-label is-hidden-touch">AniHubSub</p>
        <ul class="menu-list">
            <li>
                <a href="#go-first" class="is-active">CIT</a>
                <ul>
                    <li><a href="#">Items</a></li>
                    <li><a href="#">Items</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="is-active">Other</a>
                <ul>
                    <li><a href="#">other</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="column is-10 ">
        <section class="section">
            <div class="container">
                <div class="box">
                    <h1 class="title is-4 has-text-centered">Todas as Legendas</h1>
                    <div class="columns is-vcentered pl-5">
                        {% for letra in alfabeto  %}
                        <div class="column">
                            <a class="prefetch has-text-weight-bold" href='{{ letra }}'>{{ letra }}</a>
                            {% comment %} <span class='has-text-weight-bold'>{{ letra }}</span> {% endcomment %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="container">
                <div class="columns multiline ahs-sugestoes">
                    {% for titulo, banner, legenda, inicio, fim, premier, links, fansub in resultado %}
                    <div class="column is-2">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-2by3">
                                    <img src={{ banner }} alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-6">{{ titulo }}</p>
                                    </div>
                                </div>
                            </div>
                            <footer>
                                <a href="{% static "legendas/" %}{{ legenda }}"
                                    class="card-footer-item has-background-link has-text-white">
                                    <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    Baixar Legendas
                                </a>
                                <a href="#" class="card-footer-item has-background-primary has-text-white">
                                    <span class="icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    Enviar Legendas
                                </a>
                                <div class="select is-fullwidth">
                                    <select name="country">
                                        <option value="Argentina">Argentina</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="Chile">Chile</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Venezuela">Venezuela</option>
                                    </select>
                                </div>
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% comment %} <div class="columns is-gapless ahs-sugestoes">
                    <div class="column is-2">
                        <figure class="image is-2by3">
                            <img src="https://static.tvmaze.com/uploads/images/original_untouched/256/640071.jpg"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="column is-4">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">
                                    “There are two hard things in computer science: cache invalidation, naming things,
                                    and off-by-one errors.”
                                </p>
                                <p class="subtitle">
                                    Jeff Atwood
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <span>
                                        View on <a
                                            href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span>
                                        Share on <a href="#">Facebook</a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
                    licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </footer>
    </div>
</section>

{% endblock corpo %}