{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- AniHubSub CSS-->
    <link rel="stylesheet" href="{% static "css/anihubsub.css" %}">
    <link rel="stylesheet" href="{% static "css/detalhesanimes.css" %}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
    {% block corpo %}
    {% endblock corpo %}

    <script src="https://kit.fontawesome.com/23e2692f15.js" crossorigin="anonymous"></script>
</body>

</html>