{% extends 'base.html' %}
{% load static %}

<style>
  .detalhes-img {
    background: url({{ resultado.10 }});
    background-size: cover;
    background-position: 50% 20%;
  }
</style>

{% block corpo %}
<section class="hero is-medium is-info"
  style="background: url({{ resultado.10 }}); background-size:cover; background-position: 50% 20%;">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 has-text-white has-text-weight-bold">
        {{ resultado.0 }}
      </h1>
    </div>
  </div>
  <div class="hero-foot pb-3">
    <nav class="tabs is-boxed is-fullwidth" style='background-color: rgba(0,0,0,0.7)' ;>
      <div class="container">
        <ul>
          <li>
            Premier: {{ resultado.5 }}
          </li>
          <li>
            Fansub: {{ resultado.7 }}
          </li>
          <li>
            Perido de Exibição: {{ resultado.3 }} até {{ resultado.4 }}
          </li>          
          <li class='has-background-success'>
            <a class='has-text-white has-text-weight-bold' href={% url 'index' %}>
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              Tela Inicial
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
{% comment %} {% endcomment %}
<section class='has-background-white'>
  <div class="container has-background-white">
    <div class="columns">
      <div class="column is-2">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by3">
              <img src={{ resultado.1 }}>
            </figure>
          </div>
          <footer class="card-footer">
            <a href="{% static "legendas/" %}{{ resultado.2 }}" class="card-footer-item has-background-link has-text-white">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              Baixar Legendas
            </a>
          </footer>
        </div>
      </div>
      <div class="column is-10">
        <div class="content">
          <p>Sinopse</p>
          <p class='has-text-justified'>
            {{ resultado.9 }}
          </p>
        </div>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Position">#</abbr></th>
              <th>Título</th>
              <th><abbr title="Played">Duração</abbr></th>
              <th><abbr title="Won">Exibição</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Position">#</abbr></th>
              <th width="79%">Título</th>
              <th><abbr title="Played">Duração</abbr></th>
              <th><abbr title="Won">Exibição</abbr></th>
            </tr>
          </tfoot>
          <tbody>
            {% for numero_ep, nome_ep, duracao_ep, data_exibicao_ep in resultado.8  %}
            <tr>
              <th>{{ numero_ep }}</th>
              <td>{{ nome_ep }}</td>
              <td>{{ duracao_ep }}min</td>
              <td>{{ data_exibicao_ep }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% include 'z-busca-alfabetica.html' %}
{% include 'z-footer.html' %}
{% endblock corpo %}