{% extends 'base.html' %}
{% load static %}

{% block corpo %}
{% include 'z-cabecalho.html' %}
<section class="has-background-link	has-text-white">
    <div class="container">
        Melhor site de Legendas Otaku do Brasil
    </div>
</section>
<section class="hero is-patterned">
    <div id="ahs" class="hero-body">
        <div class="container">
            <h1 class="title has-text-white has-text-weight-bold has-text-centered">
                Sugestões do Editor Otaku
            </h1>
            <div class="columns ahs-sugestoes">                
                {% for anime in animes_recomendados %}
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-2by3 is-3">
                                <img src={{ anime.value.banner }} alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">
                                        <a href="{% url 'detalhesAnimes' anime.value.id %}">{{ anime.value.titulo }}</a>
                                    </p> 
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href={% static 'legendas/' %}{{ anime.value.legenda }} class="card-footer-item has-background-link has-text-white">
                                <span class="icon">
                                    <i class="fas fa-download"></i>
                                </span>
                                Baixar Legendas
                            </a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include 'z-busca-alfabetica.html' %}

{% comment %} <section class="hero">
    <div class="hero-body">
        <div class="container is-fullhd">
            <h1 class="title has-text-centered">
                Noś Apoiamos a Industria de Animes no Brasil
            </h1>
            <h2 class="subtitle has-text-centered">
                Serviços de Stremers no Brasil que passam animes
            </h2>
            <div class="columns is-vcentered" style=>
                <div class="column is-3">
                    <figure class="image">
                        <img src="static/img/banners/amazon_prime_.png">
                    </figure>
                </div>
                <div class="column is-3">
                    <figure class="image">
                        <img src="static/img/banners/crunchroll_.png">
                    </figure>
                </div>
                <div class="column is-3">
                    <figure class="image">
                        <img src="static/img/banners/hidive_.png">
                    </figure>
                </div>
                <div class="column is-3">
                    <figure class="image">
                        <img src="static/img/banners/netflix_.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- Sessão Novas Legendas -->
<section>
    <div class="container">
        <h1 class="title has-text-weight-bold">
            Novas Legendas
        </h1>
        <div class="columns" style=>
            <div class="column is-9">                
                {% for anime in ultimos_lancamentos  %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-96x96">
                                <img src="static/img/thumbs/{{ anime.value.thumb }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="icon has-text-success">
                                        <i class="fas fa-lg fa-clipboard-check"></i>
                                    </span>
                                    <a href={% url 'detalhesAnimes' anime.value.id %}><strong>{{ anime.value.titulo }}</strong></a>
                                </p>
                            </div>
                            <ul class="events is-marginless is-paddingless">
                                <li>
                                    <span class="icon">
                                        <i class="fas fa-tv"></i>
                                    </span>
                                    Perído de Exibição:
                                    <strong class="tag is-white">{{ anime.value.inicio }} até {{ anime.value.fim }}</strong>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fas fa-rocket"></i>
                                    </span>
                                    Premiered: <span class="tag price-tag is-price-free">{{ anime.value.premier }}</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fas fa-external-link-alt"></i>
                                    </span>
                                    Links Informativos:
                                    {% for key, value in anime.value.links.items  %}
                                    {% if key == 'link_mal' %}
                                    {% for link in value %}
                                    <a class="prefetch" href={{ link }}>MyAnimeList</a>,
                                    {% endfor %}
                                    {% endif %}
                                    {% if key == 'link_ann' %}
                                    {% for link in value %}
                                    <a class="prefetch" href={{ link }}>ANN</a>,
                                    {% endfor %}
                                    {% endif %}
                                    {% if key == 'link_anidb' %}
                                    {% for link in value %}
                                    <a class="prefetch" href={{ link }}>AniDB</a>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </li>
                                <li>
                                    <span class="icon">
                                        <i class="fas fa-check-double"></i>
                                    </span>
                                    Disponibilizado e Revisado por <span class="tag is-success">{{ anime.value.fansub }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="media-right">
                            <a href={% static 'legendas/' %}{{ anime.value.legenda }} class="card-footer-item">
                                <span class="icon">
                                    <i class="fas fa-download"></i>
                                </span>
                                Baixar Legendas
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            “There are two hard things in computer science: cache invalidation, naming things, and
                            off-by-one errors.”
                        </p>
                        <p class="subtitle">
                            Jeff Atwood
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                Share on <a href="#">Facebook</a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- Footer -->
{% include 'z-footer.html' %}
{% endblock corpo %}