{% extends 'base.html' %}

{% block corpo %}

<!-- Sessão Navbar -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">AniHubSub</span>
    </div>
</nav>
<section class="bg-primary text-white">
    <div class="container">
        Melhor site de Legendas Otaku do Brasil
    </div>
</section>
<!-- -->

<!-- Sessão Sugestões -->
<section id='ani-hub-sugestoes' class="is-patterned pb-5">
    <h1 class="h1 text-center text-white font-weight-bold py-5">Sugestões do Editor</h1>
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                <div class="card h-100">
                    <img src="https://static.tvmaze.com/uploads/images/original_untouched/22/56879.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="https://static.tvmaze.com/uploads/images/original_untouched/22/55807.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="https://static.tvmaze.com/uploads/images/original_untouched/101/254486.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100">
                    <img src="https://static.tvmaze.com/uploads/images/original_untouched/256/640071.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Sessão Empresas de Streming -->
<section class="pb-5">
    <h1 class="h1 text-center font-weight-bold py-5">Nós Apoiamos a Industria</h1>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <img src="static/img/banners/amazon_prime_.png" alt="">
            </div>
            <div class="col">
                <img src="static/img/banners/crunchroll_.jpg" alt="">
            </div>
            <div class="col">
                <img src="static/img/banners/hidive_.png" alt="">
            </div>
            <div class="col">
                <img src="static/img/banners/netflix_.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Sessão Novas Legendas -->
<section class="pt-5">
    <div class="container">
        <div class="col-9">
            <h1 class="h3 font-weight-bold">Novidades</h1>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="card mb-3 bg-white">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img class="img-fluid"
                                src="https://static.tvmaze.com/uploads/images/original_untouched/101/254486.jpg"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-white">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img class="img-fluid"
                                src="https://static.tvmaze.com/uploads/images/original_untouched/101/254486.jpg"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 bg-white">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img class="img-fluid"
                                src="https://static.tvmaze.com/uploads/images/original_untouched/101/254486.jpg"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock corpo %}