{% block footer %}
<div class='wrapper'></div>
<section id='wrapper'>
    <footer class="footer pb-0 px-0">
        <div class="has-text-centered has-text-white has-background-grey-dark">
            <div class="container pb-5">
                <div class="columns">
                    <div class="column is-6">
                        <ol class="has-text-left">
                            <li class="has-text-weight-bold">Contato:</li>
                            <li>contato@anisubhub.com.br</li>
                            <li> <strong class='has-text-white'>AniHubSub</strong> desenvolvido por um Otaku Feliz :D</li>
                        </ol>

                    </div>
                    <div class="column is-2">
                        <ol class="has-text-left">
                            <li class="has-text-weight-bold">Links Sobre Animes:</li>
                            <li><a class='has-text-info-light' href="https://anidb.net/">AniDB</a></li>
                            <li><a class='has-text-info-light' href="https://www.animenewsnetwork.com/">AniNewsNetwork</a></li>
                            <li><a class='has-text-info-light' href="https://myanimelist.net/">MyAnimeList</a></li>
                        </ol>
                    </div>
                </div>
            </div>           
        </div>
    </footer>
</section>
{% endblock footer %}